li a .nav-link {
    color: white;
}

.custom-card {
    background-color: #ffffff;
    color: #000;
    border: none;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.custom-card img {
    width: 100%;
    height: auto;
    position: relative;
}

.draw-date {
    position: absolute;
    bottom: -12px;
    left: 34%;
    transform: translateX(-60%);
    background-color: #fb2019;
    padding: 6px 22px;
    border-radius: 6px;
    color: white;
    font-size: 13px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.custom-card .card-body {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

.sold-percent {
    font-size: 12px;
}

.full-width-btn {
    width: 100%;
    font-weight: 900;
}

.full-width-btn:hover {
    background-color: #d9a131;
    border: none;
}

.pagination .page-link {
    color: #000 !important;
}
.pagination .page-link:hover {
    background-color: #ffc107 !important; /* Warning color */
}
.pagination .page-item.disabled .page-link {
    color: #6c757d !important;
}



.sidebar {
    height: 60vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}
.sidebar a {
    color: #333;
}
#portal_menu .nav-item:hover {
    background-color: #ddd;
    color: #000;
}
.content {
    padding: 20px;
}
.content h2 {
    margin-top: 0;
}
#portal_menu .nav-item {
    background-color: #ffffff;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 5px;
}
#portal_menu .nav-item .nav-link {
    font-size: 14px !important;
}
#portal_menu .active {
    border: 1px solid black;
}

.nav-tabs .nav-item {
    border-radius: 10px !important;
}

.nav-tabs .nav-item .nav-link {
    text-transform: uppercase;
    color: #000; 
    font-size: 14px !important;
}

.nav-tabs .nav-item .nav-link.active {
    border: 2px solid #747380;
}

.nav-tabs .nav-item .nav-link:not(.active) {
    background-color: #eaeaea;
}